#*.RData
*.pdf
*.afdesign
.DS_Store
*.qza
*.qzv
#*.rds
*.zip
.Rproj.user
*.fasta
!00_qiime2-outputs/12S/ar43-12s-taxonomy-naivebayes.qza
!00_qiime2-outputs/12S/AR43-table-final.qza

!00_qiime2-outputs/18S/ar43-18s-prdb-taxonomy-naivebayes.qza
!00_qiime2-outputs/18S/prdb-protist-ctd-table.qza

!00_qiime2-outputs/18S/ar43-18s-silvadb-taxonomy-naivebayes.qza
!00_qiime2-outputs/18S/prdb-metazoa-ctd-table.qza

!00_qiime2-outputs/18S/metadata_AR43_update_ctd.txt
!00_qiime2-outputs/12S/metadata_AR43_12S_merged.txt

!02_phyloseq/18S/decontam-protist-ctd-phyloseq_05.rds
!02_phyloseq/18S/decontam-metazoa-ctd-phyloseq_05.rds
!02_phyloseq/12S/decontam-12s-phyloseq_05.rds
!03_diversity/phyloseq_rr_fordiversityanalyses.RData
!03_diversity/updated_metadata_fordiversityanalyses.RData
